.header{
	position:fixed;
	background-color: #fff;
	z-index: 5;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.header-top{
	overflow: hidden;
}
.header-bottom{
	.menu{
		height:40px;
		background:url(../images/nav-bg.png) left bottom repeat-x;
		position:relative;
		z-index:10;
		>ul{
			padding:0;
			margin:0;
			list-style:none; 
			padding:0 25px;
			float:left;
			>li{
				float:left;
				margin-right:5px;
				&:hover
				{
					direction:ltr;
					>a{
						background:url(../images/top-nav-selected1.png);
						color:#333;
						b{
							background:url(../images/top-nav-selected1.png);
						}
					}
					>ul{
						left:0;
						opacity:1;
					}
				}
				a{
					display:block;
					color:#5d5d5d;
					line-height:40px;
					background:transparent;
					text-decoration:none;
					padding:0 0 0 10px;
					font-size:14px;
					-moz-border-radius-topleft: 3px;
					-webkit-border-top-left-radius: 3px;
					border-top-left-radius: 3px;
					-moz-border-radius-topright: 3px;
					-webkit-border-top-right-radius: 3px;
					border-top-right-radius: 3px;
					b{
						display:block;
						background:transparent;
						padding:0 10px 0 0;
						font-weight:normal;
						-moz-border-radius-topleft: 3px;
						-webkit-border-top-left-radius: 3px;
						border-top-left-radius: 3px;
						-moz-border-radius-topright: 3px;
						-webkit-border-top-right-radius: 3px;
						border-top-right-radius: 3px;
					}
				}
				>ul{
					position:absolute;
					left:-9999px;
					height:36px;
					background:#d8d8d8;
					opacity:0;
					padding:4px 0 0 25px;
					width:100%;
					@include opacity(opacity 0.5s)
					>li{
						float:left;
						position:relative;
						&:hover{
							>a{
								color:#fff; background:#555657;
								/*background:#555657 url(../images/sub-nav-arrow-s.png) no-repeat 92% 48%;*/
							}
						/*> a.arrow{
							background:#555657 url(../images/sub-nav-arrow-s.png) no-repeat 92% 48%;
							}*/
							>ul{
								left:0px;
								top:27px;
								-moz-transform: scaleY(1);
								-ms-transform: scaleY(1);
								-o-transform: scaleY(1);
								-webkit-transform: scaleY(1);
								transform: scaleY(1);
							}
						}
						a{
							display:block;
							color:#333;
							line-height:30px;
							text-decoration:none;
							padding:0 10px;
							font-size:14px;
							-webkit-border-radius: 3px;
							-moz-border-radius: 3px;
							border-radius: 3px;
							margin-right:5px;
						}
						>a.arrow{
							padding: 0 20px 0 10px;
							background:url(../images/sub-nav-arrow-n.png) no-repeat 92% 48%;
						}
						>ul{
							position:absolute;
							left:-9999px;
							background:#555657;
							padding:10px;
							@include border-radius(3px)
							>li{
								>a{
									display:block;
									color:#ababab;
									text-decoration:none;
									padding:3px 5px 3px 0;
									white-space:nowrap;
									font-size:14px;
									line-height:20px;
									&:hover{
										color:#fff;
									}
								}
							}
						}
					}
					>li.selected{
						a{
							background:#555657;
							color:#fff;
						}
					}
					>li.current{
						a{
							b{
								background:#555657;
							}
						}
						>ul{
							left:0;
							opacity:1;
						}
					}
				}

			}
			>li.current{
				>a{
					background:#f28c38;
					color:#fff;
					b{
						background:#f28c38;
					}
				}
				>ul{
					position:absolute;
					left:-9999px;
					height:36px;
					background:#F28C38;
					opacity:0;
					padding:4px 0 0 25px;
					width:100%;
					-moz-transition: opacity 0.5s;
					-ms-transition: opacity 0.5s;
					-o-transition: opacity 0.5s;
					-webkit-transition: opacity 0.5s;
					transition: opacity 0.5s;
					>li{
						>a{
							display:block;
							color:#fff;
							line-height:30px;
							text-decoration:none;
							padding:0 10px;
							font-size:14px;
							-webkit-border-radius: 3px;
							-moz-border-radius: 3px;
							border-radius: 3px;
							margin-right:5px;
						}
						>a.arrow{
							padding: 0 20px 0 10px;
							background:url(../images/sub-nav-arrow.png) no-repeat 92% 48%;
						}
					}
				}
			}
			>li.current{
				>ul{
					left:0;
					opacity:1;
				}
			}
			&:hover{
				>li.current{
					>a{
						background:#f28c38;
						b{
							background:#f28c38;
						}
					}
					>ul{
						left:-9999px;
					}
					&:hover{
						>a{
							background:#f28c38;
							b{
								background:#f28c38;
							}
						}
						>ul{
							left:0;
							opacity:1;
						}
					}
				}
			}
		}
	}
}

.menu > ul > li > ul > li:hover > a.arrow {
	background:#555657 url(../images/sub-nav-arrow-s.png) no-repeat 92% 48%;
}
.menu > ul > li > ul > li.selected > a.arrow {
	background:#555657 url(../images/sub-nav-arrow-s.png) no-repeat 92% 48%;
}
/* ================ Main menu styles: End ================ */
.quick-links{
	padding: 10px;
	float: left;
	text-align: center;
}
.div-margin{
	margin: 10px 0px;
}
.content-title{
	margin-top: 14em;
	z-index: 2;
	margin-bottom: 4em;
	h4{
		color: #333;
		font-size: 18px;
		font-weight: normal;
		margin: 5px 0;
	}
}
.panel-default{
	>.panel-heading {
		background-color: $secondary-color2;
	}
	a{
		>.panel-heading {
			background-color: $secondary-color2;
		}
	}
}
.list-group-item{
	active{
		background: $primary-color;
	}
	&:hover{
		background-color: $primary-background !important;
	}
	&:last-child{
		border-radius: 0px;
	}
	&:first-child{
		border-radius: 0px;
	}
	i{
		&:hover{
			/*background-color: $secondary-color1;*/
			color: $primary-color;
		}
	}

}
.list-head{
	background-color: $primary-color !important;
	border-color: $primary-color !important;
}
.heading{
	color:$primary-color;
	margin:5px 0px;
}
.log-out-style{
	top:18px;
	min-width: 100px;
	right: 15px !important;
	background-color: $primary-color;
	border-radius: 0px;
	>li{
		/*background-color:$primary-color !important;*/
		a{
			&:hover{
				background-color:$primary-background !important;
			}
		}
	}
}
table {
	border-collapse: collapse;
	width: 100%;
	font-size: 13px;
	th{
		background-color: $primary-color;
		color:#fff;
	}
	th, td {
		text-align: left;
		padding: 8px 10px;
		>i{
			&:hover{
				color:$primary-color !important;
			}
		}
	}
	tr{
		&:hover{
			background-color:$primary-background;
		}
		&:nth-child(even){
			background-color: #f2f2f2;
			&:hover{
				background-color:$primary-background;
			}
		}
		&:nth-child(odd){
			background-color: #fff;
			&:hover{
				background-color:$primary-background;
			}
		}
	}
}
.footer-style{
	background-color:$secondary-color2;
	text-align: center;
	padding: 10px;
	position: fixed;
	z-index: 5;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	p{font-size: 14px;}
}
.panel{
	border-radius: 0px;
}
.log-out{
	margin-top:5px;
	cursor: pointer;
	color:$secondary-color1;
}
.btn{
	border-radius: 0px;
}
.nepali-date{
	border: 1px solid $primary-background; 
	padding: 1px 0px 0px 6px; 
	border-radius:3px;
	height:43px; 
	background-color: $secondary-color2; 
	display:block;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	&:target{
		visibility: visible;
		opacity: 1;
	}
}
.popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
	h2{
		margin-top: 0;
		color: #333;
		font-family: Tahoma, Arial, sans-serif;
	}
	.close{
		position: absolute;
		top: 20px;
		right: 30px;
		transition: all 200ms;
		font-size: 30px;
		font-weight: bold;
		text-decoration: none;
		color: #333;
		&:hover{
			color: #06D85F;

		}
	}
	.content{
		max-height: 30%;
		overflow: auto;
	}
}
@media screen and (max-width: 700px){
	.box{
		width: 70%;
	}
	.popup{
		width: 70%;
	}
}

.intro {
	.zelect {
		display: inline-block;
		background-color: white;
		min-width: 100%;
		cursor: pointer;
		line-height: 22px;
		border: 1px solid #dbdece;
		border-radius: 0px;
		position: relative;
		height: 22px;
		font-size: 12px;
		&:focus{
			border-color: $primary-color;
		}
		.open{
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

	}
	.zelected {
		padding-left: 10px;
		.placeholder {
			color: #999f82;
		}
		&:hover{
			border-color: #c0c4ab;
			box-shadow: inset 0px 5px 8px -6px #dbdece;
		}
	}
	.dropdown {
		background-color: #fff;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border: 1px solid #dbdece;
		border-top: none;
		position: absolute;
		left: -1px;
		right: -1px;
		top: 21px;
		z-index: 2;
		padding: 3px 5px 3px 3px;
		font-size: 12px;
		input {
			font-family: sans-serif;
			outline: none;
			font-size: 14px;
			border-radius: 4px;
			border: 1px solid #dbdece;
			box-sizing: border-box;
			width: 100%;
			padding: 0px 0 0px 10px;
			height: 22px;
		}
		ol {
			padding: 0;
			margin: 3px 0 0 0;
			list-style-type: none;
			max-height: 150px;
			overflow-y: scroll;
		}
		li {
			padding-left: 10px;
		}
		li.current {
			background-color: #e9ebe1;
		}
		.no-results {
			margin-left: 10px;
		}
	}
}
.text-box{
	height: 22px;
	/*border-radius: 0px;*/
	padding: 0px 5px;
	font-size: 12px;
}
.form-group{
	float:left;
	label{
		font-size: 12px;
	}
}

.btn-font{
	font-size: 12px;
	padding: 4px 10px;
	position: relative;
	bottom: 3px;
}
.well{
	background-color: #F7F6F6;
}
.btn-other{
	padding: 5px;
	font-size: 12px;
}
.btn-reset{
	padding: 5px;
	font-size: 12px;
	background-color: $secondary-color2;
	color: #848484;
	position: relative;
	bottom: 3px;
	border: transparent;
	&:hover{
		background-color:$secondary-color1;
	}
}
.btn-color{
	background-color: #555657;
	color:#fff;
}
.total{font-size:14px;}
.nav-tabs{
	>li.active{
		a{
			color: #FFF;
			background-color: $secondary-color1;
			&:hover{
				color: #FFF;
				background-color: $secondary-color1
			}
			&:focus{
				color: #FFF;
				background-color: $secondary-color1;
			}
		}
	}
	>li{
		a{
			color: #fff;
			&:hover{
				color:$primary-color;
			}
		}
	}
}
.padding-reset{
	padding: 0px;
}

.panel-secondary{
	padding: 5px 15px;
	border-bottom: 1px solid transparent;
	background-color: $primary-color;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}
.panel-secondary-tab{
	border-bottom: 1px solid transparent;
	background-color: $primary-color;
	font-size: 14px;
}
