$primary-font-family:  'FontAwesome',serif;
$secondary-font-family:  'Courier New', monospace;
$primary-color:#F28C38;
$secondary-color1: #555657;
$secondary-color2: #f3f3f3;
$primary-background:#d8d8d8;
$link-color: green;
$primary-divider: #777;
$base-font-size: 14px;
// $tablet: 979px;
// $mobile: 767px;