#header {
  padding-left: 9999px;
  padding-right: 9999px;
  margin-left: -9999px;
  margin-right: -9999px;
}

body {
  min-width: 320px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

#wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

#header {
  overflow: hidden;
}

.header {
  position: fixed;
  background-color: #fff;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.header-top {
  overflow: hidden;
}

.header-bottom .menu {
  height: 40px;
  background: url(../images/nav-bg.png) left bottom repeat-x;
  position: relative;
  z-index: 10;
}

.header-bottom .menu > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 0 25px;
  float: left;
}

.header-bottom .menu > ul > li {
  float: left;
  margin-right: 5px;
}

.header-bottom .menu > ul > li:hover {
  direction: ltr;
}

.header-bottom .menu > ul > li:hover > a {
  background: url(../images/top-nav-selected1.png);
  color: #333;
}

.header-bottom .menu > ul > li:hover > a b {
  background: url(../images/top-nav-selected1.png);
}

.header-bottom .menu > ul > li:hover > ul {
  left: 0;
  opacity: 1;
}

.header-bottom .menu > ul > li a {
  display: block;
  color: #5d5d5d;
  line-height: 40px;
  background: transparent;
  text-decoration: none;
  padding: 0 0 0 10px;
  font-size: 14px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}

.header-bottom .menu > ul > li a b {
  display: block;
  background: transparent;
  padding: 0 10px 0 0;
  font-weight: normal;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}

.header-bottom .menu > ul > li > ul {
  position: absolute;
  left: -9999px;
  height: 36px;
  background: #d8d8d8;
  opacity: 0;
  padding: 4px 0 0 25px;
  width: 100%;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.header-bottom .menu > ul > li > ul > li {
  float: left;
  position: relative;
}

.header-bottom .menu > ul > li > ul > li:hover {
  /*> a.arrow{
							background:#555657 url(../images/sub-nav-arrow-s.png) no-repeat 92% 48%;
							}*/
}

.header-bottom .menu > ul > li > ul > li:hover > a {
  color: #fff;
  background: #555657;
  /*background:#555657 url(../images/sub-nav-arrow-s.png) no-repeat 92% 48%;*/
}

.header-bottom .menu > ul > li > ul > li:hover > ul {
  left: 0px;
  top: 27px;
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.header-bottom .menu > ul > li > ul > li a {
  display: block;
  color: #333;
  line-height: 30px;
  text-decoration: none;
  padding: 0 10px;
  font-size: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 5px;
}

.header-bottom .menu > ul > li > ul > li > a.arrow {
  padding: 0 20px 0 10px;
  background: url(../images/sub-nav-arrow-n.png) no-repeat 92% 48%;
}

.header-bottom .menu > ul > li > ul > li > ul {
  position: absolute;
  left: -9999px;
  background: #555657;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.header-bottom .menu > ul > li > ul > li > ul > li > a {
  display: block;
  color: #ababab;
  text-decoration: none;
  padding: 3px 5px 3px 0;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
}

.header-bottom .menu > ul > li > ul > li > ul > li > a:hover {
  color: #fff;
}

.header-bottom .menu > ul > li > ul > li.selected a {
  background: #555657;
  color: #fff;
}

.header-bottom .menu > ul > li > ul > li.current a b {
  background: #555657;
}

.header-bottom .menu > ul > li > ul > li.current > ul {
  left: 0;
  opacity: 1;
}

.header-bottom .menu > ul > li.current > a {
  background: #f28c38;
  color: #fff;
}

.header-bottom .menu > ul > li.current > a b {
  background: #f28c38;
}

.header-bottom .menu > ul > li.current > ul {
  position: absolute;
  left: -9999px;
  height: 36px;
  background: #F28C38;
  opacity: 0;
  padding: 4px 0 0 25px;
  width: 100%;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.header-bottom .menu > ul > li.current > ul > li > a {
  display: block;
  color: #fff;
  line-height: 30px;
  text-decoration: none;
  padding: 0 10px;
  font-size: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 5px;
}

.header-bottom .menu > ul > li.current > ul > li > a.arrow {
  padding: 0 20px 0 10px;
  background: url(../images/sub-nav-arrow.png) no-repeat 92% 48%;
}

.header-bottom .menu > ul > li.current > ul {
  left: 0;
  opacity: 1;
}

.header-bottom .menu > ul:hover > li.current > a {
  background: #f28c38;
}

.header-bottom .menu > ul:hover > li.current > a b {
  background: #f28c38;
}

.header-bottom .menu > ul:hover > li.current > ul {
  left: -9999px;
}

.header-bottom .menu > ul:hover > li.current:hover > a {
  background: #f28c38;
}

.header-bottom .menu > ul:hover > li.current:hover > a b {
  background: #f28c38;
}

.header-bottom .menu > ul:hover > li.current:hover > ul {
  left: 0;
  opacity: 1;
}

.menu > ul > li > ul > li:hover > a.arrow {
  background: #555657 url(../images/sub-nav-arrow-s.png) no-repeat 92% 48%;
}

.menu > ul > li > ul > li.selected > a.arrow {
  background: #555657 url(../images/sub-nav-arrow-s.png) no-repeat 92% 48%;
}

/* ================ Main menu styles: End ================ */
.quick-links {
  padding: 10px;
  float: left;
  text-align: center;
}

.div-margin {
  margin: 10px 0px;
}

.content-title {
  margin-top: 14em;
  z-index: 2;
  margin-bottom: 4em;
}

.content-title h4 {
  color: #333;
  font-size: 18px;
  font-weight: normal;
  margin: 5px 0;
}

.panel-default > .panel-heading {
  background-color: #f3f3f3;
}

.panel-default a > .panel-heading {
  background-color: #f3f3f3;
}

.list-group-item active {
  background: #F28C38;
}

.list-group-item:hover {
  background-color: #d8d8d8 !important;
}

.list-group-item:last-child {
  border-radius: 0px;
}

.list-group-item:first-child {
  border-radius: 0px;
}

.list-group-item i:hover {
  /*background-color: $secondary-color1;*/
  color: #F28C38;
}

.list-head {
  background-color: #F28C38 !important;
  border-color: #F28C38 !important;
}

.heading {
  color: #F28C38;
  margin: 5px 0px;
}

.log-out-style {
  top: 18px;
  min-width: 100px;
  right: 15px !important;
  background-color: #F28C38;
  border-radius: 0px;
}

.log-out-style > li {
  /*background-color:$primary-color !important;*/
}

.log-out-style > li a:hover {
  background-color: #d8d8d8 !important;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}

table th {
  background-color: #F28C38;
  color: #fff;
}

table th, table td {
  text-align: left;
  padding: 8px 10px;
}

table th > i:hover, table td > i:hover {
  color: #F28C38 !important;
}

table tr:hover {
  background-color: #d8d8d8;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:nth-child(even):hover {
  background-color: #d8d8d8;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

table tr:nth-child(odd):hover {
  background-color: #d8d8d8;
}

.footer-style {
  background-color: #f3f3f3;
  text-align: center;
  padding: 10px;
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.footer-style p {
  font-size: 14px;
}

.panel {
  border-radius: 0px;
}

.log-out {
  margin-top: 5px;
  cursor: pointer;
  color: #555657;
}

.btn {
  border-radius: 0px;
}

.nepali-date {
  border: 1px solid #d8d8d8;
  padding: 1px 0px 0px 6px;
  border-radius: 3px;
  height: 43px;
  background-color: #f3f3f3;
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

.intro .zelect {
  display: inline-block;
  background-color: white;
  min-width: 100%;
  cursor: pointer;
  line-height: 22px;
  border: 1px solid #dbdece;
  border-radius: 0px;
  position: relative;
  height: 22px;
  font-size: 12px;
}

.intro .zelect:focus {
  border-color: #F28C38;
}

.intro .zelect .open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.intro .zelected {
  padding-left: 10px;
}

.intro .zelected .placeholder {
  color: #999f82;
}

.intro .zelected:hover {
  border-color: #c0c4ab;
  box-shadow: inset 0px 5px 8px -6px #dbdece;
}

.intro .dropdown {
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #dbdece;
  border-top: none;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 21px;
  z-index: 2;
  padding: 3px 5px 3px 3px;
  font-size: 12px;
}

.intro .dropdown input {
  font-family: sans-serif;
  outline: none;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #dbdece;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 0 0px 10px;
  height: 22px;
}

.intro .dropdown ol {
  padding: 0;
  margin: 3px 0 0 0;
  list-style-type: none;
  max-height: 150px;
  overflow-y: scroll;
}

.intro .dropdown li {
  padding-left: 10px;
}

.intro .dropdown li.current {
  background-color: #e9ebe1;
}

.intro .dropdown .no-results {
  margin-left: 10px;
}

.text-box {
  height: 22px;
  /*border-radius: 0px;*/
  padding: 0px 5px;
  font-size: 12px;
}

.form-group {
  float: left;
}

.form-group label {
  font-size: 12px;
}

.btn-font {
  font-size: 12px;
  padding: 4px 10px;
  position: relative;
  bottom: 3px;
}

.well {
  background-color: #F7F6F6;
}

.btn-other {
  padding: 5px;
  font-size: 12px;
}

.btn-reset {
  padding: 5px;
  font-size: 12px;
  background-color: #f3f3f3;
  color: #848484;
  position: relative;
  bottom: 3px;
  border: transparent;
}

.btn-reset:hover {
  background-color: #555657;
}

.btn-color {
  background-color: #555657;
  color: #fff;
}

.total {
  font-size: 14px;
}

.nav-tabs > li.active a {
  color: #FFF;
  background-color: #555657;
}

.nav-tabs > li.active a:hover {
  color: #FFF;
  background-color: #555657;
}

.nav-tabs > li.active a:focus {
  color: #FFF;
  background-color: #555657;
}

.nav-tabs > li a {
  color: #fff;
}

.nav-tabs > li a:hover {
  color: #F28C38;
}

.padding-reset {
  padding: 0px;
}

.panel-secondary {
  padding: 5px 15px;
  border-bottom: 1px solid transparent;
  background-color: #F28C38;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

.panel-secondary-tab {
  border-bottom: 1px solid transparent;
  background-color: #F28C38;
  font-size: 14px;
}

/*********************
VARIABLES
**********************/
/*Controls Menu top & bottom padding*/
/*Contols Menu left & right padding*/
/*Control Menu Color Scheme*/
/*********************
RESPONSIVE BREAKPOINTS
**********************/
/*********************
NAVIGATION STYLES
**********************/
sub-nav {
  width: 100%;
  background: linear-gradient(to bottom, #353535 0%, #232323 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
}

@media (max-width: 715px) {
  sub-nav {
    margin: 65px 0 0 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    background: #191919;
  }
}

sub-nav ul {
  margin: 0 auto;
  width: 1100px;
  list-style: none;
}

@media (max-width: 715px) {
  sub-nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
    z-index: 15;
  }
}

sub-nav ul li {
  float: left;
  position: relative;
  z-index: 1;
  /******************
    SUBNAV
    ******************/
}

@media (max-width: 715px) {
  sub-nav ul li {
    float: none;
    position: relative;
    margin: 0;
  }
}

sub-nav ul li a {
  display: block;
  padding: 20px 25px;
  text-align: center;
  color: white;
  text-decoration: none;
  border-right: 1px solid #1c1c1c;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  transition: all 0.1s ease;
}

sub-nav ul li a:hover {
  background: #1c1c1c;
  color: #00aedb;
  transition: all 0.2s ease;
}

@media (max-width: 715px) {
  sub-nav ul li a {
    display: table;
    margin: 0;
    padding: 15px 2px;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 1px 3px rgba(255, 255, 255, 0.03);
    text-shadow: none;
    width: 100%;
  }
}

sub-nav ul li:hover ul {
  opacity: 1;
  max-height: 1000px;
  transition: all 0.3s ease;
}

@media (max-width: 715px) {
  sub-nav ul li:hover ul {
    max-height: 0;
  }
}

sub-nav ul li ul {
  background: #1c1c1c;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 200px;
  max-height: 0;
  z-index: 0;
  opacity: 0;
  overflow: hidden;
  font-size: .9em;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

@media (max-width: 715px) {
  sub-nav ul li ul {
    max-height: 0;
    opacity: 1;
    width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.5);
    transition: all 2s ease;
  }
}

sub-nav ul li ul li {
  float: none;
  margin: 0;
}

@media (max-width: 715px) {
  sub-nav ul li ul li {
    margin: 0;
  }
}

sub-nav ul li ul li a {
  display: block;
  text-align: left;
  padding: 13.33333px 16.66667px;
  margin: 0;
  border-right: none;
  border-top: 1px solid #161616;
  box-shadow: inset 0px 1px 3px rgba(255, 255, 255, 0.03);
  text-transform: none;
  text-shadow: none;
  transition: all 0.2s ease;
}

sub-nav ul li ul li a:hover {
  color: #00aedb;
  background: #424242;
  transition: all 0.5s ease;
}

@media (max-width: 715px) {
  sub-nav ul li ul li a {
    color: white;
    padding-left: 20px;
    background: none;
  }
}

/***************************
MOBILE NAV STYLES
***************************/
.mobile {
  display: none;
  margin: 0;
  padding: 20px 15px;
  background: linear-gradient(to bottom, #353535 0%, #262626 100%);
  position: absolute;
  color: white;
  text-decoration: none;
  top: 15px;
  right: 15px;
  line-height: 0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
}

@media (max-width: 715px) {
  .mobile {
    display: table;
  }
}

.active {
  max-height: 9000px !important;
  transition: all 1s ease;
}

@media (max-width: 715px) {
  .arrow {
    display: block;
    background: url(../images/arrow.png) no-repeat;
    float: right;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 25px;
    top: 10px;
    transition: all 0.3s ease;
  }
  .arrow:hover {
    cursor: pointer;
  }
  .rotate {
    transition: all 0.3s ease;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}
