.menu {
	height:40px;
	background:url(../images/nav-bg.png) left bottom repeat-x;
	position:relative;
	z-index:10;
}
/*
.nocurrent {
	z-index:30;
}
.homecurrent {
	z-index:20;
}
*/
.menu ul {
	padding:0;
	margin:0;
	list-style:none; 
	padding:0 25px;
}
.menu > ul {
	float:left;
}
.menu > ul > li {
	float:left;
	margin-right:5px;
}
.menu > ul > li > a {
	display:block;
	color:#5d5d5d;
	line-height:40px;
	background:transparent;
	text-decoration:none;
	padding:0 0 0 10px;
	font-size:14px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	 border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}
.menu > ul > li > a b {
	display:block;
	background:transparent;
	padding:0 10px 0 0;
	font-weight:normal;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	 border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}
.menu > ul > li > ul {
	position:absolute;
	left:-9999px;
	height:36px;
    background:#d8d8d8;
	opacity:0;
	padding:4px 0 0 25px;
	width:100%;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.menu > ul > li.current > ul {
    position:absolute;
    left:-9999px;
    height:36px;
    background:#F28C38;
    opacity:0;
    padding:4px 0 0 25px;
    width:100%;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.menu > ul > li > ul > li {
	float:left;
	position:relative;
}
.menu > ul > li > ul > li > a {
	display:block;
    color:#333;
	line-height:30px;
	text-decoration:none;
	padding:0 10px;
	font-size:14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-right:5px;
}
.menu > ul > li.current > ul > li > a {
	display:block;
	color:#fff;
	line-height:30px;
	text-decoration:none;
	padding:0 10px;
	font-size:14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-right:5px;
}
.menu > ul > li > ul > li > a.arrow {
	padding: 0 20px 0 10px;
    background:url(../images/sub-nav-arrow-n.png) no-repeat 92% 48%;
}
.menu > ul > li.current > ul > li > a.arrow {
	padding: 0 20px 0 10px;
	background:url(../images/sub-nav-arrow.png) no-repeat 92% 48%;
}
.menu > ul > li > ul > li > ul {
	position:absolute;
	left:-9999px;
	background:#555657;
	padding:10px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.menu > ul > li > ul > li > ul > li > a {
	display:block;
	color:#ababab;
	text-decoration:none;
	padding:3px 5px 3px 0;
	white-space:nowrap;
	font-size:14px;
	line-height:20px;
}
.menu > ul > li:hover > a {
	background:url(../images/top-nav-selected1.png);
	color:#333;
}
.menu > ul > li:hover > a b {
	background:url(../images/top-nav-selected1.png);
}
.menu ul li:hover {
	direction:ltr;
}
.menu > ul > li:hover > ul {
	left:0;
	opacity:1;
}
.menu > ul > li > ul > li:hover > a {
	color:#fff; background:#555657;
}
.menu > ul > li > ul > li:hover > a.arrow {
	background:#555657 url(../images/sub-nav-arrow-s.png) no-repeat 92% 48%;
}
.menu > ul > li > ul > li:hover > ul {
	left:0px;
	top:27px;
	-moz-transform: scaleY(1);
	-ms-transform: scaleY(1);
	-o-transform: scaleY(1);
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}
.menu > ul > li > ul > li > ul > li > a:hover {
	color:#fff;
}
.menu > ul > li.current > a {
	background:#f28c38;
	color:#fff;
}
.menu > ul > li.current > a b {
	background:#f28c38;
}
.menu > ul > li.current > ul {
	left:0;
	opacity:1;
}
.menu > ul:hover > li.current > a {
	background:#f28c38;
}
.menu > ul:hover > li.current > a b {
	background:#f28c38;
}
.menu > ul:hover > li.current > ul {
	left:-9999px;
}
.menu > ul:hover > li.current:hover > a {
	background:#f28c38;
}
.menu > ul:hover > li.current:hover > a b {
	background:#f28c38;
}
.menu > ul:hover > li.current:hover > ul {
	left:0;
	opacity:1;
}
.menu > ul > li > ul > li.selected > a {
	background:#555657;
	color:#fff;
}
.menu > ul > li > ul > li.selected > a.arrow {
	background:#555657 url(../images/sub-nav-arrow-s.png) no-repeat 92% 48%;
}
.menu > ul > li > ul > li.current > a b {
	background:#555657;
}
.menu > ul > li > ul > li.current > ul {
	left:0;
	opacity:1;
}
/* ================ Main menu styles: End ================ */