// custom variables and override bootstrap variables

//Scaffolding
$body-bg: #e7e7e7;
$text-color: #333;
$link-color: #4caf50;
$link-hover-decoration: none;

//Typography
$font-family-base: 'Open Sans',Arial,sans-serif;
$font-size-base: 16px;
$line-height-base: 1.4;
$headings-font-weight: 600;
$headings-color: #333;
$font-size-h1: 80px;
$font-size-h2: 32px;
$font-size-h3: 28px;
//Components
$padding-base-vertical: 8px;
$padding-base-horizontal: 10px;
$padding-large-vertical: 12px;
$padding-large-horizontal: 20px;
$padding-small-vertical: 5px;
$padding-small-horizontal: 10px;
$border-radius-base: 5px;
$border-radius-small: 3px;

//Buttons
$btn-font-weight: 500;
$btn-default-color: #fff;
$btn-default-bg: #2a692d;
$btn-default-border: #2a692d;
$btn-primary-bg: #ddb06c;
$btn-primary-color: #fff;
$btn-primary-border: #ddb06c;
$btn-info-bg: #41cac0;
$btn-info-color: #fff;
$btn-info-border: #41cac0;

//Dropdowns
$dropdown-bg: #fff;
$dropdown-link-color: #2e2e2e;

//Grid system
$grid-gutter-width: 30px;
$grid-columns: 12;


//Navbar
$navbar-height: inherit;
$navbar-border-radius: 0;
$navbar-default-link-color: #282828;
$navbar-default-link-hover-color: #1a7bd1;
$navbar-default-link-active-color: #1a7bd1;

// Forms
$input-border: #d9d9d9;
$input-border-radius: 3px;
$input-color: #2e2e2e;